$text-h1: 56px;
$text-h2: 48px;
$text-h3: 32px;
$text-h4: 24px;
$text-p: 18px;

$gold: #c09240;
$coral: #e3c180;
$royal: #29506f;
$coal: #2b2b2b;
$smoke: #e6e7e2;

.cursor {
  height: 20px;
  width: 20px;
  border: 3px solid $smoke;
  border-radius: 50%;
  position: absolute;

  display: grid;
  place-items: center;

  transition: 200ms ease-out;
  animation: cursor-animation 2s ease-in infinite;

  &::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;

    border: 5px solid $coral;
    opacity: 0.3;
    border-radius: 50%;
    top: -8px;
    left: -8px;
  }
}

.model {
  position: fixed;
  top: 0;
  left: 0;
}

#render {
  background-color: rgb(5, 5, 5);
}

@keyframes cursor-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
